@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import './common/styles/variables.css';
@import './common/styles/commonClasses.css';
@import './common/styles/animations.css';

body{
    font-family:'Noto Sans',  sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background-color: var(--bg-black);
    color: var(--text);
}